*/.idea/*
*.iml
*/*.iml
.settings
*/.settings
.project
*/.project
.classpath
*/.classpath
*.log
.log.log.swp
.factorypath
*/target
.idea/workspace.xml
*.jar
*.rar
*/*/target
.class
*.class
*.zip
*/.idea/*
*.gz
*.classpath
*.project
.idea/
.DS_Store
